#sidebar {
    width: 200px;
    background: rgba(0, 0, 0, .05);
    border-right: 1px solid rgba(0, 0, 0, .05);
}

#preview {
    display: flex;
    min-height: 100px;
}

#preview canvas {
    max-width: 100%;
    margin: auto;
}
