#sidebar {
    width: 200px;
    background: rgba(0, 0, 0, .05);
    border-right: 1px solid rgba(0, 0, 0, .05);
}

#preview {
    display: flex;
    min-height: 100px;
}

#preview canvas {
    max-width: 100%;
    margin: auto;
}

#colorpicker {
    text-align: center;
}

#colorpicker input {
    -webkit-appearance: none;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1px 2px;
    margin: 0;
    height: 40px;
    width: 80px;
    background: transparent;
    display: inline-block;
}
