<div id="sidebar">
    <div id="preview">
        <canvas></canvas>
    </div>

    <div id="colorpicker">
        <input type="color">
    </div>
</div>
<div id="editor">
    <div id="tabs">
        <div class="tab" id="action.insert">
            <span><i class="fa fa-plus"></i></span>
        </div>
    </div>

    <div id="editorpane">
        <canvas></canvas>
    </div>
</div>
