<div class="flex-container">
    <div class="flex-center text-center">
        <h1>Figureneditor</h1>
        <span class="subtitle">Engine Alpha</span>

        <div class="intro">
            <img src="http://engine-alpha.org/static/logo.png" height="200px">
        </div>

        <div class="intro">
            Erstelle eine neue Datei oder öffne eine bereits vorhandene um zu starten.
        </div>
    </div>
</div>
